Repository whoisjays/react-back-forward-options: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: upd readme inf
  README.md
Due: prettier --write

refactor: refactor
  README.md
Due: prettier --write

chore: bump version to 0.0.5
  package.json
Due: eslint --fix

fix: always return last option
  src/hooks/useBackForwardOptions.tsx
Due: eslint --fix

test: upd unit tests
  src/index.test.tsx
Due: eslint --fix

feat: added first or last option value
  src/hooks/useBackForwardOptions.tsx
Due: eslint --fix

feat: upd types
  src/types/index.ts
Due: eslint --fix

test: increase coverage
  src/index.test.tsx
Due: eslint --fix

chore: decrease coverage
  jest.config.json
Due: eslint --fix

chore: bump version to 0.0.6
  package.json
Due: eslint --fix

feat: added ability setup default index
  src/hooks/useBackForwardOptions.tsx
Due: eslint --fix

chore: increase coverage threshold
  jest.config.json
Due: eslint --fix

feat: upd readme info
  README.md
Due: prettier --write

chore: bump version to 0.0.7
  package.json
Due: eslint --fix

feat: upd readme
  README.md
  package.json
Due: prettier --write, eslint --fix

feat: upd hook logic
  src/hooks/useBackForwardOptions.tsx
Due: eslint --fix

feat: upd readme inform
  README.md
Due: prettier --write

chore: bump version
  package.json
Due: eslint --fix

feat: upd build script
  package.json
Due: eslint --fix

feat: upd tsconfig
  tsconfig.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{html,md,yml}
  eslint --fix: any of: *.{ts,js,json,tsx,jsx}
