Repository whoisjays/react-back-forward-options: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: added prettier config
  .prettierrc
Due: none

fix: circleci conf
  .circleci/config.yml
Due: prettier --write

feat: added new deps
  package.json
  yarn.lock
Due: eslint --fix

feat: husky conf
  .husky/pre-commit
Due: none

feat: upd package
  package.json
  yarn.lock
Due: eslint --fix

feat: added styled component
  src/components/BackForward/BackForward.styled.tsx
  src/components/BackForward/BackForward.tsx
Due: eslint --fix

feat: removed styled components
  package.json
  yarn.lock
Due: eslint --fix

feat: added hook instead component
  src/hooks/useBackForwardOptions.tsx
Due: eslint --fix

feat: hook instead component
  src/index.ts
Due: eslint --fix

feat: added commitlint config
  commitlint.config.js
Due: eslint --fix

feat: upd husky conf
  .husky/commit-msg
Due: none

feat: upda eslint config
  .eslintrc
Due: none

refactor: deleted unnecessary component
  src/components/BackForward/BackForward.styled.tsx
  src/components/BackForward/BackForward.tsx
Due: eslint --fix

feat: added types file
  src/types/index.ts
Due: eslint --fix

refactor: refactor
  src/hooks/useBackForwardOptions.tsx
Due: eslint --fix

feat: upd eslint conf
  .eslintrc
Due: none

test: udp simple test
  src/index.test.tsx
Due: eslint --fix

chore: decrease test coverage
  jest.config.json
Due: eslint --fix

feat: upd corcle ci config for publish
  .circleci/config.yml
Due: prettier --write

feat: upd deps
  package.json
  yarn.lock
Due: eslint --fix

feat: upd tsconfig
  tsconfig.json
Due: eslint --fix

fix: fix ci config
  .circleci/config.yml
Due: prettier --write

Updated config.yml
  .circleci/config.yml
Due: prettier --write

chore: bump package version
  package.json
Due: eslint --fix

fix: fix ci node version
  .circleci/config.yml
Due: prettier --write

fix: fix publish token usage
  .circleci/config.yml
Due: prettier --write

chore: bump version
  package.json
Due: eslint --fix

feat: added logic to hook
  src/hooks/useBackForwardOptions.tsx
Due: eslint --fix

feat: hook types
  src/types/index.ts
Due: eslint --fix

test: test coverage
  src/index.test.tsx
Due: eslint --fix

chore: fix version
  package.json
Due: eslint --fix

test: increase test coverage
  jest.config.json
Due: eslint --fix

refactor: refactor
  src/types/index.ts
Due: eslint --fix

fix: fix deploy package
  .circleci/config.yml
Due: prettier --write

fix: revert changes
  .circleci/config.yml
Due: prettier --write

fix: fix config
  .circleci/config.yml
Due: prettier --write

chore: bump version to 0.0.4
  package.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{html,md,yml}
  eslint --fix: any of: *.{ts,js,json,tsx,jsx}
